﻿@{
    ViewBag.Title = "Schedule";
}

@section modals
{
            <div class="modal fade" data-bind="bsModal: showModal">
            <div class="modal-dialog modal-centered">
                <div class="modal-content" data-bind="spinning: scheduleModalBusy">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" data-bind="click: closeModal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                        <h4 class="modal-title" id="myModalLabel">Update Schedule</h4>
                    </div>
                    <div class="modal-body">
                        <form class="form-horizontal" action="#" data-bind="with: scheduleModel">
                            <div class="form-group">
                                <div class="col-md-12">
                                    <a class="btn btn-danger pull-right" data-bind="click: $root.confirmToRemove"> Remove</a>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-4 control-label"> Starting DateTime</label>
                                <div class="col-md-3">
                                    <input type="text" class="form-control" data-bind="dateValue:startingDateTime"/>
                                </div>
                                <div class="col-md-3">
                                   <input type="text" class="form-control" data-bind="timeValue:startingDateTime"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-4 control-label"> Ending DateTime</label>
                                <div class="col-md-3">
                                    <input type="text" class="form-control" data-bind="dateValue:endingDateTime"/>
                                </div>
                                <div class="col-md-3">
                                   <input type="text" class="form-control" data-bind="timeValue:endingDateTime"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-4 control-label">Remarks</label>
                                <div class="col-md-6">
                                    <textarea class="form-control resize-vertical" placeholder="Description" data-bind="value: remarks"></textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-4 control-label"> Status</label>
                                <div class="col-md-6">
                                    <select class="form-control" data-bind="options: allStatus,
                                                                optionsText: 'text',
                                                                optionsValue: 'value',
                                                                optionsCaption: '--- Please Select ---',
                                                                value: status"></select>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <a class="btn btn-success" data-bind="click: $root.update"> Update</a>
                        <a class="btn btn-info" data-bind="click: $root.reset"> Reset</a>
                    </div>
                </div>
            </div>
        </div>


}
<section class="vbox">
    <footer class="footer bg-light dker bg-gradient"><p>Timeline</p></footer>
    <section class="bg-light lter">
        <section class="hbox stretch">
            <!-- .aside -->
            <aside data-bind="spinning: loadingSchedules">
                <section class="vbox">
                    <section class="scrollable wrapper">
                        <div id="calendar">
                        </div>
                    </section>
                </section>
            </aside>
            <!-- /.aside --> 
            <!-- .aside -->
            <aside class="aside-lg bg-light" data-bind="spinning: loadingEvents">
                <div class="wrapper">
                    <div id='external-events'>
                        <h4 class="m-t-none">Events</h4>
                        <hr/>                        
                        <!-- ko if: events().length > 0 -->
                        <!-- ko foreach: events -->  
                        <div class='fc-event' data-bind="text: name, attr: { 'data-event' : dataEvent }"></div>
                        <!-- /ko -->
                        <!-- /ko -->
                        
                        <!-- ko if: events().length < 1 -->
                        No event found, add some events
                        <!-- /ko -->
                    </div>
                </div>
            </aside>
            <!-- /.aside --> 
        </section>
    </section>
</section>

@section scripts
{
    <script data-main="@Url.Content("~/Scripts/views/schedule.js")" src="@Url.Content("~/Scripts/require.js")" type="text/javascript"></script>
}