﻿
@{
    ViewBag.Title = "Login";
    Layout = "";
}

<!DOCTYPE html>
<html lang="en">
    <!-- Mirrored from heyflat.com/themes/todo/signin.html by HTTrack Website Copier/3.x [XR&CO'2013], Fri, 06 Sep 2013 20:39:11 GMT -->
    <head>
        <meta charset="utf-8"/>
        <title>todo | @ViewBag.Title</title>
        <meta name="description"
              content="app, web app, responsive, admin dashboard, admin, flat, flat ui, ui kit, off screen nav"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>

        <link rel="stylesheet" href="~/Content/bootstrap.css" type="text/css"/>
        <link rel="stylesheet" href="~/Content/font-awesome.css" type="text/css"/>
        <link rel="stylesheet" href="~/Content/app.v1.css" type="text/css"/>
        <link rel="stylesheet" href="~/Content/toastr.css" type="text/css"/>
        <link rel="stylesheet" href="~/Content/site.css" type="text/css"/>
    </head>
    <body>
        <section id="content" class="m-t-lg wrapper-md animated fadeInUp"><a class="nav-brand" href="index.html">todo</a>

            <div class="row m-n">
                <div class="col-md-4 col-md-offset-4 m-t-lg">
                    <section class="panel">
                        <header class="panel-heading text-center"> Sign in</header>
                        <form action="#" class="panel-body" data-bind="with: model, spinning: isBusy">
                            <div class="form-group">
                                <label class="control-label">Email</label>
                                <input type="email" placeholder="test@example.com" class="form-control" data-bind="value: email">
                            </div>
                            <div class="form-group">
                                <label class="control-label">Password</label>
                                <input type="password" placeholder="Password" class="form-control" data-bind="value: password">
                            </div>
                            <div class="checkbox"><label> <input type="checkbox"> Keep me logged in </label></div>

                            <a class="btn btn-info" data-bind="click: $root.signIn">
                                Sign in
                            </a>
                            <div class="line line-dashed"></div>
                        </form>
                    </section>
                </div>
            </div>
        </section>
        <!-- footer -->
        <footer id="footer">
            <div class="text-center padder clearfix">
                <p>
                    <small>Mobile first web app framework base on Bootstrap<br>&copy; 2013</small>
                </p>
            </div>
        </footer>
        <!-- / footer -->

        <script src="~/Scripts/jquery-2.1.1.js"></script>
        <script src="~/Scripts/json2.js"></script>
        <script src="~/Scripts/amplify.js"></script>

        <script src="~/Scripts/bootstrap.js"></script>
        <script src="~/Scripts/jquery.blockUI.js"></script>
        <script src="~/Scripts/spin.js"></script>
        <script src="~/Scripts/bootbox.js"></script>
        <script src="~/Scripts/toastr.js"></script>

        <script src="~/Scripts/knockout-3.2.0.js"></script>
        <script src="~/Scripts/knockout.validation.js"></script>
        <script src="~/Scripts/extensions/ko.spinning.js"></script>
        
        <script data-main="@Url.Content("~/Scripts/views/login.js")" src="@Url.Content("~/Scripts/require.js")" type="text/javascript"></script>
    </body>
</html>
