﻿@{
    ViewBag.Title = "Event";
}
@section modals
{
    <!--modals-->       
    <!--event update-->
    <div data-bind="template: { name: 'tmpl-traineeCreate', data: $root.updateVm.traineeVm.createVm }"></div>
    <div data-bind="template: { name: 'tmpl-traineeUpdate', data: $root.updateVm.traineeVm.updateVm }"></div>
}

<section class="vbox">
    <section class="scrollable wrapper">        
        <!--section-create-->
        <div id="sectionCreate" class="row" data-bind="with: createVm" style="display: none">
            <!--create form-->
            <div class="container" data-bind="spinning: isBusy">
                <div class="padded">
                    <h2>Create</h2>
                    <br/>
                    <form class="form-horizontal" action="#" data-bind="with: model">
                        <div class="form-group">
                            <div class="col-md-4">
                                <a class="btn btn-primary" data-bind="click: $root.createDone"> Done</a> 
                            </div>
                            <div class="col-md-6"></div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4 control-label"> Name</label>
                            <div class="col-md-6">
                                <input type="text" class="form-control" placeholder="Name" data-bind="value: name"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4 control-label">Description</label>
                            <div class="col-md-6">
                                <textarea class="form-control resize-vertical" placeholder="Description" data-bind="value: description"></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4 control-label"> Device</label>
                            <div class="col-md-6">
                                <select class="form-control" data-bind="options: $parent.allDevice,
                                                                optionsText: 'name',
                                                                optionsValue: 'id',
                                                                optionsCaption: '--- Please Select ---',
                                                                value: deviceId"></select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4"></label>
                            <div class="col-md-6 btn-toolbar">
                                <a class="btn btn-success" data-bind="click: $parent.create">
                                    Create
                                </a>
                                <a class="btn btn-info" data-bind="click: $parent.reset">
                                    Reset
                                </a>
                            </div>
                        </div>
                    </form>
                    
                </div>                
            </div> 
        </div>
        
        <!--section-update-->
        <div id="sectionUpdate" class="row" data-bind="with: updateVm" style="display: none">
            <!--update form-->
            <div class="container">
                <div class="padded">
                    <h2>Update</h2>
                    <br/>
                    <form class="form-horizontal" action="#" data-bind="with: model, spinning: isBusy">
                        <div class="form-group">
                            <div class="col-md-4">
                                <a class="btn btn-primary" data-bind="click: $root.updateDone"> Done</a> 
                            </div>
                            <div class="col-md-6"></div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4 control-label"> Name</label>
                            <div class="col-md-6">
                                <input type="text" class="form-control" placeholder="Name" data-bind="value: name"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4 control-label">Description</label>
                            <div class="col-md-6">
                                <textarea class="form-control resize-vertical" placeholder="Description" data-bind="value: description"></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4 control-label"> Device</label>
                            <div class="col-md-6">
                                <select class="form-control" data-bind="options: $parent.allDevice,
                                                                optionsText: 'name',
                                                                optionsValue: 'id',
                                                                optionsCaption: '--- Please Select ---',
                                                                value: deviceId"></select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4 control-label"> Status</label>
                            <div class="col-md-6">
                                <select class="form-control" data-bind="options: $parent.allStatus,
                                                                optionsText: 'text',
                                                                optionsValue: 'value',
                                                                optionsCaption: '--- Please Select ---',
                                                                value: status"></select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4"></label>
                            <div class="col-md-6 btn-toolbar">
                                <a class="btn btn-success" href="#" data-bind="click: $parent.update">
                                    Update
                                </a>
                                <a class="btn btn-info" href="#" data-bind="click: $parent.reset">
                                    Reset
                                </a>
                            </div>
                        </div>
                    </form>
                </div>                
            </div>
            <!--attached trainees-->
            <div class="container">    
                <div class="panel panel-default" data-bind="spinning: traineeVm.listVm.isBusy">
                    <div class="panel-heading">
                        <a class="btn btn-success margined" data-bind="click: traineeVm.showToCreate"> Add Trainee</a>
                    </div>
                    <div class="panel-body" style="min-height: 200px;" data-bind="foreach: traineeVm.listVm.models">
                        <div class="col-sm-6 col-md-2" data-bind="template: {name: 'tmpl-traineeView', data: $data}"></div>
                    </div>
                </div>
            </div>            
        </div>
        
        <!--section-list-->
        <div id="sectionList" class="row" data-bind="with: listVm">
            <div class="container" data-bind="spinning: isBusy">
                <div class="padded">
                    <h2>List</h2>
                    <br/>
                    <a class="btn btn-primary marginBottom" data-bind="click: $root.showTocreate"> Create</a> 
                    <div class="table-responsive">
                        <table class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>Sn</th>
                                    <th>Event Name</th>
                                    <th>Event Description</th>
                                    <th>Device Name</th>
                                    <th>Device Description</th>
                                    <th>Status</th>
                                    <th colspan="2">Action</th>
                                </tr>
                            </thead>
                            <!-- ko if: models().length > 0 -->  
                            <tbody data-bind="foreach: models">
                                <tr>
                                    <td data-bind="text: $index() + 1"></td>
                                    <td data-bind="text: name"></td>
                                    <td data-bind="text: description"></td>
                                    <td data-bind="text: device.name"></td>
                                    <td data-bind="text: device.description"></td>
                                    <td>
                                        <!-- ko if: status() == 0 -->  
                                        Active                 
                                        <!-- /ko -->
                                        <!-- ko if: status() == 1 -->
                                        Inactive
                                        <!-- /ko -->
                                    </td>
                                    <td class="action">
                                        <a class="fa fa-pencil fa-2x" title="Update" data-toggle="tooltip" data-bind="click: $root.showToUpdate"></a>                                      
                                    </td>
                                    <td class="action">
                                        <a class="fa fa-remove fa-2x" title="Delete" data-toggle="tooltip" data-bind="click: $root.confirmToDelete"></a>                                      
                                    </td>
                                </tr>
                            </tbody>
                            <!-- /ko -->

                            <!-- ko if: models().length == 0 -->  
                            <tbody>
                                <tr>
                                    <td colspan="6">
                                        No element to show.
                                    </td>
                                </tr>
                            </tbody>
                            <!-- /ko -->

                        </table>
                    </div>                   
                </div>
            </div>
        </div>

    </section>
</section>


@section scripts
{
    <script data-main="@Url.Content("~/Scripts/views/event.js")" src="@Url.Content("~/Scripts/require.js")" type="text/javascript"></script>
    
    <!--templs-->
    <!--trainee create-->
    <script type="text/html" id="tmpl-traineeCreate">
        <div class="modal fade" data-bind="bsModal: showModal">
            <div class="modal-dialog modal-centered">
                <div class="modal-content" data-bind="spinning: isBusy">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" data-bind="click: closeModal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                        <h4 class="modal-title" id="myModalLabel">Create Trainee</h4>
                    </div>
                    <div class="modal-body">
                        <form class="form-horizontal" action="#" data-bind="with: model">
                            <div class="form-group">
                                <label class="col-md-4 control-label"> Name</label>
                                <div class="col-md-6">
                                    <input type="text" class="form-control" placeholder="Name" data-bind="value: name" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-4 control-label"> Contact No.</label>
                                <div class="col-md-6">
                                    <input type="text" class="form-control" placeholder="Contact No." data-bind="value: contactNo" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-4 control-label"> Email</label>
                                <div class="col-md-6">
                                    <input type="text" class="form-control" placeholder="Email" data-bind="value: email" />
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <a class="btn btn-success" data-bind="click: create"> Create</a>
                        <a class="btn btn-info" data-bind="click: reset"> Reset</a>
                    </div>
                </div>
            </div>
        </div>
    </script>
    <!--trainee update-->
    <script type="text/html" id="tmpl-traineeUpdate">
        <div class="modal fade" data-bind="bsModal: showModal">
            <div class="modal-dialog modal-centered">
                <div class="modal-content" data-bind="spinning: isBusy">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" data-bind="click: closeModal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                        <h4 class="modal-title" id="myModalLabel">Update Trainee</h4>
                    </div>
                    <div class="modal-body">
                        <form class="form-horizontal" action="#" data-bind="with: model">
                            <div class="form-group">
                                <label class="col-md-4 control-label"> Name</label>
                                <div class="col-md-6">
                                    <input type="text" class="form-control" placeholder="Name" data-bind="value: name" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-4 control-label"> Contact No.</label>
                                <div class="col-md-6">
                                    <input type="text" class="form-control" placeholder="Contact No." data-bind="value: contactNo" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-4 control-label"> Email</label>
                                <div class="col-md-6">
                                    <input type="text" class="form-control" placeholder="Email" data-bind="value: email" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-4 control-label"> Status</label>
                                <div class="col-md-6">
                                    <select class="form-control" data-bind="options: $parent.allStatus,
                                                            optionsText: 'text',
                                                            optionsValue: 'value',
                                                            optionsCaption: '--- Please Select ---',
                                                            value: status"></select>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <a class="btn btn-success" data-bind="click: update"> Update</a>
                        <a class="btn btn-info" data-bind="click: reset"> Reset</a>
                    </div>
                </div>
            </div>
        </div>
    </script>
    <!--trainee view-->
    <script type="text/html" id="tmpl-traineeView">
        <div class="thumbnail">
            <img src="/Content/images/default_trainee.png" data-src="/Scripts/holder.js/300x300">
            <div class="caption">
                <p style="margin: 0px;"><small><b data-bind="text: name"></b></small></p>
                <p style="margin: 0px;"><small data-bind="text: email"></small></p>
                <p style="margin: 0px;"><small data-bind="text: contactNo"></small></p>
                <div class="btn-group" role="group">
                    <a class="btn btn-default fa fa-pencil" title="Update" data-toggle="tooltip" data-bind="click: $root.updateVm.traineeVm.showToUpdate"></a>
                    <a class="btn btn-default fa fa-close" title="Delete" data-toggle="tooltip" data-bind="click: $root.updateVm.traineeVm.confirmToDelete"></a>
                </div>
            </div>
        </div>
    </script>

}
