﻿/*validation error message style*/
.validationMessage {
    color: #b94a48;
}

.no-marginBottom {
    margin-bottom: 0px;
}

.resize-vertical {
    resize: vertical
}

.padded {
    padding: 10px;
}

.margined {
    margin: 10px;
}

.marginBottom {
    margin-bottom: 10px;
}

td.action a {
    cursor: pointer;
    text-decoration: none
}

/*bootstrap modals*/
.modal-dialog.modal-centered {
    left: 0;
}

.bootbox  .modal-dialog {
    left: 0;
}

/*bootstrap datetimepicker on modals*/
.bootstrap-timepicker-widget.open {
     z-index: 1000000;
    position: absolute;
 }

/*.bootstrap-datetimepicker-widget ul, li {
    margin-left: 0px;
    padding-left: 0px;
}*/