﻿@{
    ViewBag.Title = "User";
}

<section class="vbox">
    <section class="scrollable wrapper">
        <!--section-create-->
        <div id="sectionCreate" class="row" data-bind="with: createVm" style="display: none">
            <div class="container" data-bind="spinning: isBusy">
                <div class="padded">
                    <h2>Create</h2>
                    <br/>
                    <form class="form-horizontal" action="#" data-bind="with: model">
                        <div class="form-group">
                            <div class="col-md-4">
                                <a class="btn btn-primary" data-bind="click: $root.createDone"> Done</a> 
                            </div>
                            <div class="col-md-6"></div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4 control-label"> Name</label>
                            <div class="col-md-6">
                                <input type="text" class="form-control" placeholder="Name" data-bind="value: name"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4 control-label"> Contact No.</label>
                            <div class="col-md-6">
                                <input type="text" class="form-control" placeholder="Contact No." data-bind="value: contactNo"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4 control-label"> Email</label>
                            <div class="col-md-6">
                                <input type="text" class="form-control" placeholder="Email" data-bind="value: email"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4 control-label"> Password</label>
                            <div class="col-md-6">
                                <input type="text" class="form-control" data-bind="value: password"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4"></label>
                            <div class="col-md-6 btn-toolbar">
                                <a class="btn btn-success" data-bind="click: $parent.create">
                                    Create
                                </a>
                                <a class="btn btn-info" data-bind="click: $parent.reset">
                                    Reset
                                </a>
                            </div>
                        </div>
                    </form>
                    
                </div>                
            </div>
        </div>
        
        <!--section-update-->
        <div id="sectionUpdate" class="row" data-bind="with: updateVm" style="display: none">
            <div class="container">
                <div class="padded">
                    <h2>Update</h2>
                    <br/>
                    <form class="form-horizontal" action="#" data-bind="with: model, spinning: isBusy">
                        <div class="form-group">
                            <div class="col-md-4">
                                <a class="btn btn-primary" data-bind="click: $root.updateDone"> Done</a> 
                            </div>
                            <div class="col-md-6"></div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4 control-label"> Name</label>
                            <div class="col-md-6">
                                <input type="text" class="form-control" placeholder="Name" data-bind="value: name"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4 control-label"> Contact No.</label>
                            <div class="col-md-6">
                                <input type="text" class="form-control" placeholder="Contact No." data-bind="value: contactNo"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4 control-label"> Email</label>
                            <div class="col-md-6">
                                <input type="text" class="form-control" placeholder="Email" data-bind="value: email"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4 control-label"> Password</label>
                            <div class="col-md-6">
                                <input type="text" class="form-control" data-bind="value: password"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4 control-label"> Status</label>
                            <div class="col-md-6">
                                <select class="form-control" data-bind="options: $parent.allStatus,
                                                                optionsText: 'text',
                                                                optionsValue: 'value',
                                                                optionsCaption: '--- Please Select ---',
                                                                value: status"></select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4"></label>
                            <div class="col-md-6 btn-toolbar">
                                <a class="btn btn-success" href="#" data-bind="click: $parent.update">
                                    Update
                                </a>
                                <a class="btn btn-info" href="#" data-bind="click: $parent.reset">
                                    Reset
                                </a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        
        <!--section-list-->
        <div id="sectionList" class="row" data-bind="with: listVm">
            <div class="container" data-bind="spinning: isBusy">
                <div class="padded">
                    <h2>List</h2>
                    <br/>
                    <a class="btn btn-primary marginBottom" data-bind="click: $root.showTocreate"> Create</a> 
                    <div class="table-responsive">
                        <table class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>Sn</th>
                                    <th>Name</th>
                                    <th>Email</th>
                                    <th>Contact No.</th>
                                    <th>Status</th>
                                    <th colspan="2">Action</th>
                                </tr>
                            </thead>
                            <!-- ko if: models().length > 0 -->  
                            <tbody data-bind="foreach: models">
                                <tr>
                                    <td data-bind="text: $index() + 1"></td>
                                    <td data-bind="text: name"></td>
                                    <td data-bind="text: email"></td>
                                    <td data-bind="text: contactNo"></td>
                                    <td>
                                        <!-- ko if: status() == 0 -->  
                                        Active                 
                                        <!-- /ko -->
                                        <!-- ko if: status() == 1 -->
                                        Inactive
                                        <!-- /ko -->
                                    </td>
                                    <td class="action">
                                        <a class="fa fa-pencil fa-2x" title="Update" data-toggle="tooltip" data-bind="click: $root.showToUpdate"></a>                                      
                                    </td>
                                    <td class="action">
                                        <a class="fa fa-remove fa-2x" title="Delete" data-toggle="tooltip" data-bind="click: $root.confirmToDelete"></a>                                      
                                    </td>
                                </tr>
                            </tbody>
                            <!-- /ko -->

                            <!-- ko if: models().length == 0 -->  
                            <tbody>
                                <tr>
                                    <td colspan="6">
                                        No element to show.
                                    </td>
                                </tr>
                            </tbody>
                            <!-- /ko -->

                        </table>
                    </div>                   
                </div>
            </div>
        </div>
    </section>
</section>


@section scripts
{
    <script data-main="@Url.Content("~/Scripts/views/user.js")" src="@Url.Content("~/Scripts/require.js")" type="text/javascript"></script>
}
